{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4">Results for {{ location }} on {{ date }}</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">🔥 Very Hot</div>
                    <div class="card-body">
                        <h5 class="card-title">35% Probability</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">❄️ Very Cold</div>
                    <div class="card-body">
                        <h5 class="card-title">10% Probability</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">🌧 Very Wet</div>
                    <div class="card-body">
                        <h5 class="card-title">60% Probability</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">💨 Very Windy</div>
                    <div class="card-body">
                        <h5 class="card-title">20% Probability</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">😓 Uncomfortable</div>
                    <div class="card-body">
                        <h5 class="card-title">45% Probability</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Historical Average Temperature & Precipitation</h5>
                        <canvas id="historical-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Probabilities</h5>
                        <canvas id="probability-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <button class="btn btn-success">Download Results (CSV)</button>
                <button class="btn btn-success">Download Results (JSON)</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">AI Summary</h5>
                        <p class="card-text">{{ ai_insights.summary }}</p>
                        {% comment %} <p class="card-text">Based on the historical data and our predictive models, there is a high probability of wet conditions and a moderate probability of uncomfortable weather. The temperature is expected to be within the normal range for this time of year.</p> {% endcomment %}
                        <br>
                        <h5 class="card-title">Overall Outlook</h5>
                        <p class="card-text">{{ ai_insights.parade_planner.overall_outlook }}</p>
                        <br>
                        <h5 class="card-title">Contingency Plan</h5>
                        <p class="card-text">{{ ai_insights.parade_planner.contingency_plan }}</p>
                        <br>
                        <h5 class="card-title">Nasa Fun Fact</h5>
                        <p class="card-text">{{ ai_insights.nasa_fun_fact }}</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock content %}