{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4">Predict the Weather, Prepare for the Worst</h1>
                <p class="lead">Enter a location and date to see the probability of extreme weather events.</p>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{% url 'userside:dashboard' %}">
                            {% csrf_token %}
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="mapToggle">
                                <label class="form-check-label" for="mapToggle">Use Map to Select Location</label>
                            </div>
                            <div id="location-search" class="mb-3">
                                <label for="location" class="form-label">Location</label>
                                <input type="text" class="form-control" id="location" name ="location" placeholder="Enter a city or address">
                            </div>
                            <div id="map-container" style="display: none; height: 400px;" class="mb-3"></div>
                            <input type="hidden" name="latlon" id="lat-lon">   
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" name = "date">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary">
                                    predict
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}