{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page-header">
                <h1>Our Team</h1>
                <p>The people behind RainCast.</p>
            </div>

            <div class="grid">
                <div class="card">
                    <img src="https://i.ibb.co/xt3q9q3t/Green-and-Black-Modern-Tech-Talk-Podcast-Cover.png" alt="Sayed Ibrahim" style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto 1rem; display: block;">
                    <h3 style="text-align: center;">Sayed Ibrahim </h3>
                    <p style="text-align: center; color: var(--muted-text-color);">Software Engineer</p>
                    <div style="text-align: center; margin-top: 1rem;">
                        <a href="https://github.com/sayedibrahimQ" class="btn btn-primary">GitHub</a>
                        <a href="https://www.linkedin.com/in/sayedibrahim-co/" class="btn btn-primary">Linkedin</a>
                    </div>
                </div>

                <div class="card">
                    <img src="https://i.ibb.co/C3zYSwz6/image.png" alt="Mahmoud Ahmed" style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto 1rem; display: block;">
                    <h3 style="text-align: center;">Mahmoud Ahmed</h3>
                    <p style="text-align: center; color: var(--muted-text-color);">Data Analyst</p>
                    <div style="text-align: center; margin-top: 1rem;">
                        <a href="https://github.com/Mahmoud-Iraqi" class="btn btn-primary">GitHub</a>
                        <a href="https://www.linkedin.com/in/mahmoudiraqi/" class="btn btn-primary">linkedin</a>
                    </div>
                </div>

                <div class="card">
                    <img src="https://i.ibb.co/KcfyF52n/image.png" alt="Mohamed Ayman" style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto 1rem; display: block;">
                    <h3 style="text-align: center;">Mohamed Ayman</h3>
                    <p style="text-align: center; color: var(--muted-text-color);">Data Analyst</p>
                    <div style="text-align: center; margin-top: 1rem;">
                        <a href="https://github.com/mohamedayman2004" class="btn btn-primary">GitHub</a>
                        <a href="https://www.linkedin.com/in/mohamed-ayman2004/" class="btn btn-primary">Linkedin</a>
                    </div>
                </div>
            </div>

        </div>
    </main>
    
{% endblock content %}